<% provide(:title, "Login") %>
<h1>Login</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :login %>
        <%= f.text_field :login %>

        <%= f.submit "Login", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>