@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body > .container a, body > .container a:hover {
  color: #333333 !important;
  background: none !important;
}
body > .container a:hover {
  text-decoration: underline;
}

.alert {
  position: absolute;
  right: 0;
}

/* navigation bar */
.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative !important;
}

.nav-control {
  bottom: 0;
  margin-top: -55px;
  position: relative;
  right: 0;
}
.nav-control form {
  margin-bottom: 0;
}
.nav-control select {
  width: inherit;
}

.container {
  position: relative;
}

/* tables */
.container > table {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.container table th {
  background: #333333;
  color: #ffffff;
  text-align: left;
  padding: 5px 15px;
}

.container table td {
  padding: 0px 10px;
  white-space: nowrap;
}

.container > table th.buttons {
  width: 100px;
  text-align: right;
}

.container > table > tbody > tr:hover {
  background: #cccccc;
}

/* log */
.chart-outer {
  display: inline-block;
  width: 420px;
  height: 200px;
}

/* report table */
#report-config {
  width: 90%;
  margin: 0 auto;
}
#report-config th {
  background: none;
}
#report-config label {
  display: inline-block;
}

#report-config th,
#report-config label {
  color: #000000;
  font-weight: bold;
}

#report-config th {
  padding-top: 20px;
}
#report-config td.name {
  width: 50px;
  text-align: right;
  white-space: nowrap;
}
#report-config td > select,
#report-config td > input[type="text"] {
  width: 100%;
}
#report-config td.date > select {
  width: inherit;
}
#report-config th[colspan="5"],
#report-config td[colspan="5"] {
  text-align: center;
}

#report-config table {
  width: 90%;
  background: #eeeeee;
  margin: 0 auto;
}

#report-config table td {
  text-align: left;
  width: 25%;
  white-space: nowrap;
}

table.summary th {
  color: #333;
  background: none;
  font-weight: bold;
  text-align: right;
  padding: 0;
}

/* boxes */
.field.box {
  width: 100%;
  background: #eee;
  padding: 5px;
  text-align: center;
}

.container > .box {
  width: 90%;
  margin: 0 auto;
  padding: 5px 15px;
  margin-top: 30px;
}

/* mini calendar */

.minical {
  border-spacing: 1px;
  border-collapse: separate;
}

.minical .day {
  text-align: right;
  padding: 5px;
}

.minical .title td, .minical .wdays td, .minical .today, .minical .date {
  text-align: center;
}
.minical .title td, .minical .wdays td {
  font-weight: bold;
}

.minical .in_month {
  border: 1px solid #999999;
}

.minical .weekend, .minical .weekend a,
.minical .holiday, .minical .holiday a {
  color: #ccc !important;
}

.minical .selected {
  background: #ff6666 !important;
}

.minical .worked {
  background: #99ff99;
}
.minical .worked a {
  font-weight: bold;
  color: #003300 !important;
}


/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}